.video {
  box-shadow: 0 2px 1px lightgray;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 20px 0;
}

.video > .title {
  text-align: center;
  padding: 10px;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}
