html {
  font-family: sans-serif;
}

.app-page {
  display: flex;
  background-color: rgba(248, 248, 248, 0.979);
}

.video-div {
  flex: 0.6;
  height: 428px;
  border: 1px solid;
}

.list-div {
  flex: 0.2;
}
